<div class="row">
  <div class="col-12">
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h3 class="page-title">Oficinas</h3>
          <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a ui-sref="helium.inicio">Inicio</a></li>
                <li class="breadcrumb-item"><a ui-sref="helium.oficina">Administracion</a></li>
                <li class="breadcrumb-item active" ui-sref="helium.oficina" aria-current="page">oficina</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title m-b-0 amber" style="cursor:pointer;" ng-click="openmodal('crear','data')">Agregar Oficina <i class="fas fa-building"></i></h5>
        <div class="table-responsive">
          <table id="table-oficina" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="text-center"><strong>#</strong></th>
                <th><b>UBICACIÓN</b></th>
                <th><b>SEDE</b></th>
                <th><b>OFICINA</b></th>
                <th><b>TELEFONO</b></th>
                <th class="text-center"><b>ESTADO</b></th>
                <th class="text-center"><b>ACCIÓNES</b></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="ofi in listarOficinas">
                <td class="align-center">{{$index + 1}}</td>
                <td>{{ofi.CiudadNombre}}</td>
                <td>{{ofi.NombreSede}}</td>
                <td>{{ofi.Nombre}}</td>
                <td>{{ofi.Telefono}}</td>
                <td class="text-center" style="padding-bottom: 0px; padding-top: 14px;"><h4><span class="badge {{ofi.clase}} white">{{ofi.EstadoOficina}}</span></h4></td>
                <td class="text-center" style="padding-bottom: 0px; padding-top: 9px;">
                  <button type="button" style="cursor:pointer;"ng-click="openmodal('actualizar',ofi)" tooltip data-toggle="tooltip" data-placement="left" data-original-title="Editar" class="btn bg-light-blue waves-effect waves-float">
                    <i class="font-28 mdi mdi-account-edit white"></i>
                  </button>
                  <button type="button" ng-click="cambiarEstadoOficina(ofi.EstadoOficina,ofi.Codigo)" style="cursor:pointer;" tooltip data-toggle="tooltip" data-placement="left" data-original-title="Cambiar estado" class="btn bg-yellow waves-effect waves-float">
                    <i class="font-28 mdi mdi-traffic-light white"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="modaluioficina" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 72%;" role="document">
      <div class="modal-content">
        <div class="modal-header" style="padding-bottom: 0px;">
          <div class="row mb-3">
            <div class="col-xs-12"><h3 class="modal-title ml30" id="exampleModalLabel">{{titulomodal}}</h3></div>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true ">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form ng-submit="uiOficina()" id="crearoficina">
            <div id="testmodal" class="demo-masked-input" style="padding: 5px 20px;">
              <div class="row mb-3">
                <div class="col-xs-12 col-sm-4 col-lg-4">
                  <label for="tipodocumento" class="control-label col-form-label">Sede</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon"><i class="fa fa-user"></i></span>
                    </div>
                    <select class="form-control" id="sede" aria-describedby="addon" ng-model="oficina.sede" name="sede" required>
                      <option value="">Seleccionar sede</option>
                      <option ng-selected="oficina.sede" ng-repeat="sede in listarSedes" ng-value="sede.Codigo">{{sede.Nombre}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-4">
                  <label for="documento" class="control-label col-form-label">Nombre</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="nombresede" aria-describedby="addon"  ng-model="oficina.nombre" name="nombre" placeholder="Nombre" required>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-4">
                  <label for="documento" class="control-label col-form-label">Sigla</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="siglasede" aria-describedby="addon"  ng-model="oficina.sigla" name="sigla" placeholder="sigla" required>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-xs-12 col-sm-3 col-lg-3">
                  <label for="tipodocumento" class="control-label col-form-label">Departamento</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon"><i class="fa fa-user"></i></span>
                    </div>
                    <select class="select2 form-control custom-select" aria-describedby="addon" ng-model="oficina.departamento" name="departamento" ng-change="listarMunicipio(oficina.departamento)" requiered >
                      <option value="" selected>Seleccionar departamento</option>
                      <option ng-selected="oficina.departamento == {{dpto.Codigo}}" ng-repeat="dpto in listarDepartamentos" ng-value="dpto.Codigo">{{dpto.Nombre}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-lg-3">
                  <label for="tipodocumento" class="control-label col-form-label">Municipio</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon"><i class="fa fa-user"></i></span>
                    </div>
                    <select class="select2 form-control custom-select" aria-describedby="addon" ng-model="oficina.municipio" name="municipio" required>
                      <option value="" disabled>Seleccionar ciudades</option>
                      <option ng-selected="oficina.municipio == {{ciu.Codigo}}" ng-repeat="ciu in listarMunicipios" ng-value="{{ciu.Codigo}}">{{ciu.Nombre}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-lg-3">
                  <label for="nombre" class="control-label col-form-label">Direccion</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="nombre" aria-describedby="addon" ng-model="oficina.direccion" name="direccion" placeholder="Direccion" required>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-lg-3">
                  <label for="documento" class="control-label col-form-label">Celular</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control cellphone-inputmask" id="celular" aria-describedby="addon" ng-model="oficina.contacto" name="contacto" placeholder="Celular" required>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-12 align-right">
                  <div class="input-group">
                    <button type="submit" class="btn waves-effect bg-light-green white"><i class="mdi mdi-send"></i><span> {{btnnombremodal}}</span></button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
